.manage-users {
    padding: 20px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th,
  .user-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f4f4f4;
  }
  
  button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #00703c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005f2c;
  }
  