.volunteer-stats {
    padding: 40px;
    text-align: center;
  }
  
  table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .chart-container {
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  